mypy==1.18.2
fastapi==0.121.2
uvicorn==0.38.0
SQLAlchemy==2.0.44
psycopg2==2.9.11
SQLAlchemy-Utils==0.42.0
alembic==1.17.2
sqlmodel== 0.0.27
asyncpg==0.30.0
fastapi-users[sqlalchemy]==15.0.1
imagekitio==4.2.0
python-dotenv==1.2.1
dotenv==0.9.9
fastapi[standard]
pydantic-settings==2.12.0
passlib==1.7.4
types-passlib==1.7.7.20250602
aioredis==2.0.1
redis==7.1.0